/**
 * Intro section styles
 *
 * Start all rules with .section-intro
 */
.section-intro .section-heading{
  font-family: 'Revalia', cursive  ;
  color: red;
}
.section-intro em{
  font-weight: bold;
}
